.conteiner{
    display: flex;
}

.text{
    border: 1px;
    border-style: solid;
    border-color: #1abc9c;
    border-radius: 15px;
    margin: 3%;
    padding: 3%;
}

.summary{
    border-radius: 15px;
    padding: 3%;
    padding-top: 0.5%;
    background-color: #1abc9c93;   
}
.card{
    padding: 1%;
    margin-top: 3%;
    margin-left: 0.5%;
    width: 25%;
    height: 100%;
    background-color: #1abc9c;
    border-radius: 15px ;
}

.button {
    border: 1px solid #1abc9c;
    border-radius: 5px;
    background: #f2f3f4;
    color: #1abc9c;
    padding: 10px;
    padding-right: 14px;
    padding-left: 12px;
    font-size: 17px;
}
   
.button:hover {
    background-color: #1abc9c;
    color: white;
    border: 1px solid  #1abc9c;
}